@model Sitecore.GnosisToolkit.Areas.GnosisToolkit.Models.Layouts.BasicHtmlModel

<html lang="@Model.Lang">
<head>
    <meta charset="utf-8"/>
    @Html.Partial("~/Areas/GnosisToolkit/Views/Layouts/_Canonical.cshtml")
    @Html.Partial("~/Areas/GnosisToolkit/Views/Layouts/_Title.cshtml")
    @Html.Partial("~/Areas/GnosisToolkit/Views/Layouts/_Favicon.cshtml")
    @Html.Partial("~/Areas/GnosisToolkit/Views/Layouts/_Meta.cshtml")

    <!--head start-->
    @Html.Sitecore().Placeholder("head")
    <!--head end-->
</head>
<body>
    <!--body start-->
    @Html.Sitecore().Placeholder("body")
    <!--body end-->
</body>
</html>
