@model Sitecore.GnosisToolkit.Areas.GnosisToolkit.Models.General.CallToActionGlassModel

<div id="@Model.MachineName" data-item-id="@Model.Id" class="calltoaction">
    <div class="calltoaction-image">
        @using (BeginRenderLink(Model, x => Model.Link))
        {
            @Editable(Model, x => Model.Image)
        }
    </div>
    <div class="calltoaction-heading">
        @using (BeginRenderLink(Model, x => Model.Link))
        {
            @Editable(Model, x => Model.Heading)
        }
    </div>
    <div class="calltoaction-body">@Editable(Model, x => Model.Body)</div>
    <div class="calltoaction-link">@Editable(Model, x => Model.Link)</div>
</div>
